@using SparkApp.Web.ViewModels.Genre
@model List<GenreViewModel>

<h1>Genre index</h1>
@if (User.IsInRole("Moderator"))
{
	<div class="col-md-12 bg-light text-right">
		<button asp-controller="Genre" asp-action="Add" class="btn btn-success btn-dark-text btn-rounded mb-3 w-10 p-8 fw-bold">Add a Genre</button>
	</div>
}

<h4>All Genres..</h4>
<hr />
@foreach (var g in Model)
{
	<a asp-controller="Genre" asp-action="Details" asp-route-id="@g.Name">@g.Name</a>
	<hr />
}