@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div align="center">
	<a asp-controller="Game" asp-action="Index" class="btn btn-dark btn-dark-text btn-rounded mb-2 w-50 p-3 fw-bold">Go To Games</a>
	<a asp-controller="Genre" asp-action="Index" class="btn btn-dark btn-dark-text btn-rounded mb-2 w-50 p-3 fw-bold">Go To Genres</a>
	<a asp-controller="Platform" asp-action="Index" class="btn btn-dark btn-dark-text btn-rounded mb-2 w-50 p-3 fw-bold">Go To Platforms</a>
	<a asp-controller="Developer" asp-action="Index" class="btn btn-dark btn-dark-text btn-rounded mb-2 w-50 p-3 fw-bold">Go To Developers</a>
	<a asp-controller="Director" asp-action="Index" class="btn btn-dark btn-dark-text btn-rounded mb-2 w-50 p-3 fw-bold">Go To Directors</a>

</div>
