@using SparkApp.Web.ViewModels.Developer
@using static SparkApp.Common.AppConstants
@model List<DeveloperViewModel>?

<h2>Developer index</h2>
@if (User.IsInRole(ModRoleName))
{
	<div class="col-md-12 bg-light text-right">
		<a asp-controller="Developer" asp-action="Add" class="btn btn-success btn-dark-text btn-rounded mb-3 w-10 p-8 fw-bold">Add a Developer</a>
	</div>
}

<h4>All Developers..</h4>
<hr />
@if (Model != null)
{
	@foreach (var d in Model)
	{
		<a asp-controller="Developer" asp-action="Details" asp-route-id="@d.Name">@d.Name</a>
		<hr />
	}
}